.section3{
    margin-top: 20px;
    padding: 10px 3%;
    background: linear-gradient( rgb(7, 7, 7), rgb(71, 22, 90), rgb(21, 21, 23), rgb(21, 21, 23));
}

.projects{
    text-align: center;

    width: 70%;
    margin: 0 auto;
    color: white;

}

.projects h3{
    font-size: 35px;
}


.btn-project{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background: rgb(240, 117, 227);
    font-size: 12px;
    margin-top: 10px;
}

.btn-project a{
    text-decoration: none;
}
